@import "reset.css";
/* FOOTER */
footer {
    position: absolute;
    width: 100%;
    padding: 20px 0 20px 0;
    bottom: 0px;
    color: white;
    text-align: center;
    background-color: #25313C;
    margin-bottom: 10px;
}
footer ul li a {
    text-decoration: none;
    color: white;
    margin-right: 20px;
}
footer ul li a:hover {
    color: #008ebf;
}
